.formWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 24px;

  button {
    position: absolute;
    bottom: 32px;
  }
}

.toastWrapper {
  width: 100%;
  position: absolute;
  bottom: 140px;
}
