@import '@/styles';

.contentSection {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.period {
  display: flex;
  align-items: center;
  gap: 4px;

  @include semibold-footnote;
  color: $gray-300;

  margin-bottom: 16px;

  & > span {
    margin-top: 4px;
  }
}

.postContent {
  @include regular-callout;
  color: $gray-300;

  margin-bottom: 10px;
}

.wrapTags {
  display: flex;
  gap: 4px;
}

.postActions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;

  .wrapActions {
    display: flex;
    gap: 12px;
  }
  .wrapActionCounts {
    display: flex;
    gap: 10px;

    @include regular-caption-1;
    color: $gray-400;
  }
}
