@import '@/styles';

.addThreadBtn {
  width: 100%;
  height: 90px;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  padding: 4px 12px;
  cursor: pointer;
}

.text1 {
  @include semibold-footnote;
  color: white;
}
.text2 {
  @include regular-caption-1;
  color: $gray-200;
}
