@import '/src/styles/index';
.topBannerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 0.625;
}

.headerThumbnail {
  width: 100%;
  aspect-ratio: 1 / 0.625;
}

.buttonBox {
  padding: 16px 48px;
  background: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 8px;
  border: 1px solid #ffffff;
  border-radius: 168px;

  @include semibold-body;
  color: $white;

  backdrop-filter: blur(11.45px);
  -webkit-backdrop-filter: blur(11.45px);

  box-sizing: border-box;
  cursor: pointer;
}
