@import '@/styles';

.container {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  position: sticky;

  background: $background-system;

  padding: 16px 0;
  width: 100%;

  top: 72px;
  z-index: 50;
  box-sizing: border-box;
}

.button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  @include semibold-sub-headline;
  color: $gray-600;

  padding: 0;
  border: none;
  outline: none;
  margin: 0;
  box-sizing: border-box;

  cursor: pointer;

  &.active {
    color: $white;
  }
}
