@import '@/styles';

.header {
  display: flex;
  top: 0;
  align-items: center;
  padding: 0 16px;
  color: $gray-100;
  @include regular-callout;
  width: 100%;
  max-width: 600px;
}
.prevIcon {
  margin-right: 8px;
}
