$primary: #87c96e;
$secondary: #008080;
$invalid: #909090;
$white: #ffffff;
$black: #252525;
$red: #d32f2f;
$yellow: #f9a825;
$green: #4caf50;
$blue: #0091ea;

@mixin bg-color($color) {
  background-color: $color;
}

@mixin bg-colorReverse($color) {
  background-color: $white;
  border: 1px solid ($color);
}

@mixin text-color($color) {
  color: ($color);
}
