@mixin font-light10 {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}

@mixin font-light12 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

@mixin font-light14 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

@mixin font-light16 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

@mixin font-light18 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

@mixin font-light20 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

@mixin font-light24 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

@mixin font-light32 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

@mixin font-light40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

@mixin font-medium10 {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}

@mixin font-medium12 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

@mixin font-medium14 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

@mixin font-medium16 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@mixin font-medium18 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

@mixin font-medium20 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

@mixin font-medium24 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

@mixin font-medium32 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

@mixin font-medium40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}

@mixin font-bold10 {
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
}

@mixin font-bold12 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

@mixin font-bold14 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

@mixin font-bold16 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

@mixin font-bold18 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

@mixin font-bold20 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

@mixin font-bold24 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

@mixin font-bold32 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

@mixin font-bold40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
