@import '@/styles';

.date {
  @include timestamp;
  font-size: 15px;
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
}
.titleFrame {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;

  & > .title {
    @include bold-title-2;
    display: block;
    color: white;
  }

  .wrapWriter {
    display: flex;
    gap: 8px;
  }
  .profile {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $gray-300;
  }
  .writer {
    @include semibold-sub-headline;
    display: block;
    color: white;
  }
}
