@import '@/styles';

.createPage {
  @include test-layout;
}
.wrapCreate {
  height: calc(100vh - 48px);
  margin-top: 48px;
}
.imageArea {
  width: 100%;
  background-color: $gray-800;
  aspect-ratio: 72/53;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-300;
  @include regular-callout;
  overflow: hidden;
  position: relative;
}
.wrapInput {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(100% - 48px - 72px - 16px);
  justify-content: flex-start;
  padding: 0 16px 16px 16px;
}
.wrapActions {
  margin: 12px 0;
  display: flex;
  justify-content: flex-end;
}
.title {
  & > input {
    margin: 16px 0 9px 0;
    width: 100%;
    background: transparent;
    height: 20px;
    border: none;
    color: white;
    @include semibold-callout;
    &::placeholder {
      color: $gray-500;
    }
    &:focus {
      outline: none;
    }
  }
}
.textArea {
  margin: 16px 0;
  width: 100%;
  height: 100%;
  max-height: 50%;

  & > textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: white;
    @include regular-callout;
    resize: none;
    &::placeholder {
      color: $gray-500;
    }
    &:focus {
      outline: none;
    }
  }
}
.divider {

}
// .postButtonWrapper {
//   position: fixed;
//   bottom: 100;
// }
// .wrapCreate {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   margin-top: 48px;
//   overflow: hidden; // Ensure content doesn't overflow the container
// }

// .wrapInput {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   padding: 0 16px 16px 16px;
//   flex-grow: 1; // Ensures the content stretches and occupies available space
//   height: calc(100% - 48px); // Adjust for header
//   overflow-y: auto; // Allows scrolling if the content exceeds available space
// }

// .wrapActions {
//   display: flex;
//   justify-content: flex-end;
//   margin-bottom: 12px;
// }

// .postButtonWrapper {
//   position: sticky;
//   bottom: 0;
//   background-color: $gray-900; // Ensure the button is visible against the background
//   padding: 12px 0;
//   text-align: right;
// }
