@import '@/styles';

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileWrapper {
  width: 100%;
  @include flex-column-center;

  gap: 8px;

  img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.userInfoWrapper {
  @include flex-column-center;
  gap: 2px;

  div {
    @include semibold-title-3;
    color: $gray-50;
  }

  p {
    @include regular-footnote;
    color: $gray-400;
  }
}
