@import '/src/styles/index';

.categoryLabel {
  @include semibold-body;
  line-height: 20px;
  color: $white;
  padding: 10px 0;
}

.categoryBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 10px 0 32px;
}

.categoryButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 4px;

  height: 100px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 4px;
  border: none;
  outline: none;

  @include semibold-title-2;
  line-height: 26px;
  color: $white;

  cursor: pointer;
}
