@import '/src/styles/index';

.signInContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 24px;

  button {
    position: absolute;
    bottom: 32px;
  }
}

.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  gap: 16px;

  a {
    width: 100%;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    color: $gray-300;
    @include regular-footnote;

    &:hover {
      color: $gray-100;
      cursor: pointer;
    }
  }

  span {
    border-left: 1px solid $gray-100;
    height: 12px;
  }
}
