@import '/src/styles/index';

.settingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0 24px;

  button {
    @include regular-caption-1;
    color: $gray-500;
    border: none;
    background-color: transparent;
    padding: 10px;
  }
}
