@import '@/styles';

.button {
  display: flex;
  height: fit-content;
  gap: 4px;
  background-color: $blue-700;
  border-radius: 182px;

  padding: 6.5px 8px;
  min-width: 61px;

  @include semibold-caption-2;
  color: $white;

  &:disabled {
    background-color: #3e4b5a;
    color: $gray-200;
  }
}
