@import '/src/styles/index';

.headerContainer {
  display: flex;
  justify-content: space-between;

  position: fixed;
  padding: 12px 16px;
  width: 100%;
  top: 0;
  background: $background-system;
  z-index: 50;
}

.backButtonBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.backButton {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.headerTitle {
  @include regular-callout;
  margin: 0;
  color: $gray-100;
}
