.formWrapper {
  display: grid;
  grid-template-rows: 1fr min-content;

  button {
    margin-bottom: 32px;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
