@import '@/styles';

.searchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 100dvh;
  height: 100%;

  padding: 64px 16px 96px;
}

.noSearchBox {
  padding: 40px 16px 0;
}

.noSearchList {
  @include regular-callout;
  line-height: 19px;
  color: $gray-100;
}
