@import '@/styles';

.chipBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;

  background: #fbd709;
  border-radius: 94px;
  margin: auto;
}

.chipText {
  @include semibold-caption-2;
  line-height: 13px;
  text-align: center;

  color: $gray-900;
  &.dot {
    padding: 0 2px;
  }
}
