@import '/src/styles/index';

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editContainer {
  width: 100%;
  height: 100%;
}

.profileWrapper {
  width: 100%;
  @include flex-column-center;

  gap: 8px;
  figure {
    height: 76px;
  }
}

.userInfoWrapper {
  @include flex-column-center;
  gap: 2px;
  margin-bottom: 24px;

  div {
    @include semibold-title-3;
    color: $gray-50;
  }

  p {
    @include regular-footnote;
    color: $gray-400;
  }
}

.profileImg {
  position: relative;
  div {
    display: none;
  }
  label {
    position: absolute;
    bottom: 0;
    right: -5px;
    border: none;
    background-color: $gray-50;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
  }

  img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.saveBtn {
  background-color: transparent;
  color: $blue-500;
  border: none;
  cursor: pointer;
}
