@import '@/styles';

.addCoWorkerButton {
  padding: 10px 16px;
  @include regular-callout;
  color: $gray-100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.addWorkerTitleWrap {
  display: flex;
  gap: 8px;
}
.forwardIconWrap {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
