@import '@/styles';

.editContainer {
  @include layout;
  display: grid;
  // grid-template-rows: min-content min-content min-content 1fr auto min-content;
  grid-template-rows: min-content min-content 1fr min-content;
}
.imageSection {
  width: 100%;
  background-color: $gray-800;
  aspect-ratio: 72/53;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-300;
  @include regular-callout;
  overflow: hidden;
  position: relative;
}
.wrapActions {
  display: flex;
  justify-content: flex-end;
}
.contentSection {
  display: grid;
  grid-template-rows: min-content auto min-content;
  padding: 16px;
}
.titleInputBox {
  margin-bottom: 9px;

  & textarea {
    @include semibold-callout;
    color: $white;
    &::placeholder {
      color: $gray-500;
    }
  }
}
.textAreaBox {
  padding: 16px 0;
  & textarea {
    height: 100%;
    @include regular-callout;
    color: $white;

    &::placeholder {
      color: $gray-500;
    }
  }
}
.divider {
  @include full-bleed();
  height: 1px;
  background-color: $gray-800;
}
.buttonSection {
  height: fit-content;
  margin: 50px 16px 32px 16px;
}
