@import '@/styles';

@mixin text-ellipsis {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  width: 100%;
  display: flex;
  gap: 11px;
  cursor: pointer;

  img {
    width: 66px;
    height: 66px;
    object-fit: cover;
    border-radius: 4px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.contentWrapper {
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6px;

  h1 {
    margin: 0;
    @include semibold-footnote;
    color: $gray-50;
    @include text-ellipsis;
  }
}

.content {
  @include regular-footnote;
  color: $gray-300;
  @include text-ellipsis;
}

.date {
  @include regular-caption-2;
  color: $gray-400;
  @include text-ellipsis;
}

.defaultImg {
  background-color: $gray-800;
  width: 66px;
  height: 66px;
  border-radius: 4px;
}
