@import '@/styles';

.wrapTags {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  gap: 4px 2px;
  align-items: center;
  margin: 4px 0 0 0;

  & > input {
    width: fit-content;
    height: fit-content;
    background-color: $gray-800;
    border: none;
    padding: 6px 8px;
    @include regular-callout;
    color: white;
    border-radius: 4px;
    margin-left: 4px;

    &::placeholder {
      color: $gray-600;
      @include regular-callout;
    }

    &:focus {
      outline: none;
    }
  }
  & > .tag > button {
    color: $blue-500;
    @include regular-footnote;
    margin-right: 4px;
  }
}
