@import '@/styles';

$cover-height: 440px;

.detailPage {
  max-width: $max-width;
  margin: 0 auto;
  background-color: $background-system;
  height: 100vh;
}
.wrapBody {
  position: relative;
  margin-top: calc($cover-height - $detail-header-height);
  z-index: 1;
  background-color: $background-system;

  .divider {
    width: 100%;
    height: 1px;
    background-color: $gray-800;
  }

  .wrapThreads {
    padding: 16px 16px 70px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
